/*EMPIEZA EL CODIGO PARA TENER UN VIDEO BACKGROUND*/
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
	background-size: cover; 
}
/*TERMINA EL CODIGO DEL VIDEO*/

/*EMPIEZA EL CODIGO DEL FORMULARIO de inicio */
.pal .logo 
{
    width: 900px;
    height: 250px;
}

.pal .usuario 
{
    background-image: url("FOTOS/user.png");
    background-position-x: 101%;
    background-position-y: 68%;
    background-repeat: no-repeat;
}

.pal .mail 
{
    background-image: url("FOTOS/pass.png");
    background-position-x: 102%;
    background-position-y: 46%;
    background-repeat: no-repeat;
}

.pal form
{
	vertical-align: center;

}

.pal input 
{
    height: 73px;
    width: 570px;
    margin-bottom: 40px;
    font-size: 28px;
}

.pal .registro
{
    width: 190px;
    height: 50px;
    float: right;
    font-size: 20px;
}
.pal button 
{
    width: 190px;
    height: 68px;
    color: #96AC3C;
    font-size: 27px;
}
/*TERMINA EL FORMULARIO DE INICIO*/

/* EMPIEZA CODIGO GENERAL */
h1 {
font-size: 16px;	
	}
	
p {
font-size: 14;	
	}

footer {
	text-align: center;
	bottom: 5%;	
	}

a:link{
	text-decoration: none;
	font-style: normal;	
	}

/*TERMINA CODIGO GENERAL*/


/*pagina buscador*/
#previewcouch ul{
	display: block;
	/*list-style-type: none;	
	text-align: center;
	overflow: hidden;*/
	padding: 5px;
	margin: 10px;
    top: 50%;
    left: 50%;
}

#previewcouch {
	margin: 10px;
	clear: both;
	}
#previewcouch li{
	display: inline-block;
	margin: 5px;
	padding: 2px;
	}
			
	/*
.imagenpreview {
	width: 350px;
	height: 180px;		
		}*/
		
#contenedorgeneral{
	width: 90%;
	height: auto;
	background-color: white;
	border-color: black;
	border-spacing: 10px;
	padding: 10px;	
	margin: auto;
	display: block;
	}


.couch {
	position: relative;
	border-spacing: 5px;
	padding: 5px;
	background-size: 360px 320px;
	background-repeat: no-repeat;
	width: 350px;
	height: 310px;
	text-align: center;
	color: white;
	font-family: 'Averia Sans Libre', cursive;
	border-radius: 4px;
	box-shadow: 2px 2px 5px #999;
	}


.titulocouch{
	position: absolute;
	background-color: rgba(0,0,0,.5);
	clear: both;
	height: 30%;
	left: 5px;
	right: 5px;
	bottom: 5px;	
	}	


/*termina pagina buscador*/


/*inicio header pagina*/

.iniciologo {
	width: 215px;
	height: 80px;
	float: left;
	top: 1%;		
	}
		
#contenidobuscador {
	width: 100%;
	height: 70px;
	margin-bottom:30px;
	padding: 10px;
	position: relative;
	/*box-shadow: 0px 0px 1px #999;
	border-bottom: 1px solid gray; esta era la linea del buscador*/ 
	}

#buscador{
	position: absolute;
	border-spacing: 10px;
	padding: 5px;
	left: 30%;
	bottom: 5%;
	text-align: center;
	}
	
#contenidobuscador button {
	float: right;
	top: 5%;	
	}

#buscador ul{
	list-style-type: none;
	left: 50%;
	display: block;	
	/*	
	text-align: center;
	overflow: hidden;*/
	}

#buscador li{
	display: inline;	
	text-align: center;
	float: left;
	margin: 5px;
	padding: 1px;
	}
/*CODIGO PARA LOS PREMIUM*//*EDITADO POR SEBA BOTON DE SEBA EDITADO*/

#botons button
{
	height: 33px;
	width: 140px;
}

#logoPremium 
{
	width: 425px;
    height: 100px;
}
#premium input
{
    width: 250px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
}
#campos
{
	font-family: 'Averia Sans Libre', cursive;
	font-size: 30px;
	color: #6D6D6D;
}
#campos button {
  background: #006699;
  border: none;
  color: #ffffff;
  font: 13px Tahoma, Arial, sans-serif;
  padding: 10px 15px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #333;
  letter-spacing: 1px;
  /**** Sombra de texto ****/
  text-shadow: 0px -1px 0px #333333;
  /**** Bordes redondeados ****/
  /* W3C */
  border-radius: 5px;
  /* Firefox */
  -moz-border-radius: 5px;
  /**** Degradados ****/
  /*  Chrome 1-9 and Safari 4-5.0  */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8b8b8b), color-stop(0.5, #707070), color-stop(0.5, #5e5e5e), color-stop(1, #777777));
  /*  Chrome 10+ Safari 5.1+ Mobile Safari  */
  background-image: -webkit-linear-gradient(top, #8b8b8b, #707070 50%, #5e5e5e 50%, #777777);
  /*  Firefox 3.6+  */
  background-image: -moz-linear-gradient(top, #8b8b8b, #707070 50%, #5e5e5e 50%, #777777);
  /*  IE 10+  */
  background-image: -ms-linear-gradient(top, #8b8b8b, #707070 50%, #5e5e5e 50%, #777777);
  /*  Opera 11.10+  */
  background-image: -o-linear-gradient(top, #8b8b8b, #707070 50%, #5e5e5e 50%, #777777);
  /*  W3C  */
  background-image: linear-gradient(top, #8b8b8b, #707070 50%, #5e5e5e 50%, #777777);
}
#campos button:hover {
  /*  Chrome 1-9 and Safari 4-5.0  */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5d5d5d), color-stop(0.5, #424242), color-stop(0.5, #383838), color-stop(1, #535353));
  /*  Chrome 10+ Safari 5.1+ Mobile Safari  */
  background-image: -webkit-linear-gradient(top, #5d5d5d, #424242 50%, #383838 50%, #535353);
  /*  Firefox 3.6+  */
  background-image: -moz-linear-gradient(top, #5d5d5d, #424242 50%, #383838 50%, #535353);
  /*  IE 10+  */
  background-image: -ms-linear-gradient(top, #5d5d5d, #424242 50%, #383838 50%, #535353);
  /*  Opera 11.10+  */
  background-image: -o-linear-gradient(top, #5d5d5d, #424242 50%, #383838 50%, #535353);
  /*  W3C  */
  background-image: linear-gradient(top, #5d5d5d, #424242 50%, #383838 50%, #535353);
}
#campos button:active {
  /*  Chrome 1-9 and Safari 4-5.0  */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(0.05, #2b2b2b), color-stop(0.5, #434343), color-stop(1, #3e3e3e));
  /*  Chrome 10+ Safari 5.1+ Mobile Safari  */
  background-image: -webkit-linear-gradient(top, #000000, #2b2b2b 5%, #434343 50%, #3e3e3e);
  /*  Firefox 3.6+  */
  background-image: -moz-linear-gradient(top, #000000, #2b2b2b 5%, #434343 50%, #3e3e3e);
  /*  IE 10+  */
  background-image: -ms-linear-gradient(top, #000000, #2b2b2b 5%, #434343 50%, #3e3e3e);
  /*  Opera 11.10+  */
  background-image: -o-linear-gradient(top, #000000, #2b2b2b 5%, #434343 50%, #3e3e3e);
  /*  W3C  */
  background-image: linear-gradient(top, #000000, #2b2b2b 5%, #434343 50%, #3e3e3e);
}
#fechaTarjeta
{
		color:#A9A9A9;
}
/*FIN DE CODIFO PARA LOS PREMIUM*/

