* { 
	margin:10px;   /*  margin nos permite fijar el margen de un elemento*/
	}
html{ 
	height: 100%;
}
body{	
	height: 100%;  /*alto*/
}
/*comienzo del codigo del detalle*/
#imagendetalle img 
{
	height:190px;
}
#descripcion
{
	text-align:center;
}