#foto img
{
	width: 350px;
	height: 400px;
	float: left;
	padding: 5px;
}
/* aca va el estilo de los botones */
#contenidobuscador {
	width: 100%;
	height: 70px;
	margin-bottom:30px;
	padding: 10px;
	position: relative;
	border-bottom: 1px solid gray;
	}
#botons button
{
	height: 33px;
	width: 140px;
	clear: right;
	float: right;
}

/* aca cierra el estilo de los botones */
#muestra img
{
	width: 135px;
	height: 140px;
}
#muestra
{
	padding: 10px;
}

#preguntas
{
	width: 100%;
}
#general
{
	padding: 30px;
}
textarea
{
	width: 100%;
}
#pregunta
{
	background-color:#F7F8E0;
}
.iniciologo{
	width: 215px;
	height: 80px; 
	float:left;
	top:1%;
}
